// email.handlebars
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>HelpMeOut</title>
</head>
<body>
  <h2> Hey {{name}}! </h2>
  <p>Checkout this video and give a feedback </p>
</body>
</html>